// Highlight color
$highlight : #3fc0c3;

// Font families
$font-1 : 'Source Sans Pro', sans-serif;
$font-2 : 'Noto Serif', serif;

// Breakpoints
$breakpoint-1 : 1024px;
$breakpoint-2 : 890px;
$breakpoint-3 : 640px;
$breakpoint-4 : 480px;
